services:
  db:
    image: postgres:18
    container_name: postgres_db
    restart: always
    ports:
      - "5432:5432" 
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s
    volumes:
      - app-db-data:/var/lib/postgresql/data/pgdata
    env_file:
      - .env.docker

  # For the API service
  web:
    image: api_service:latest
    build:
      context: .
      dockerfile: api_service/Dockerfile
    container_name: api_service
    depends_on:
      db:
        condition: service_healthy
    restart: always
    env_file:
      - .env
    environment:
      - POSTGRES_HOST=db
    ports:
      - "8000:8000"
    networks:
      - default
  
  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
    networks:
      -  default
    depends_on:
      db:
        condition: service_healthy
  
        
  # frontend:
  #   build: ./frontend
  #   container_name: frontend_container
  #   depends_on:
  #     - web
  #   ports:
  #     - "5173:5173"
  #   restart: unless-stopped

  # frontend:
  #   build:
  #     context: ./frontend
  #   ports:
  #     - "5173:5173"
  #   container_name: frontend_container
  #   restart: always

  frontend:
    build:
      context: ./frontend
    container_name: frontend_container
    ports:
      - "5173:5173"
    depends_on:
      - web
    environment:
      - VITE_API_URL=http://api_service:8000
    networks:
      - default

volumes:
  app-db-data:

