services:
  postgres:
    container_name: postgres_container
    image: postgres:18
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: example
      POSTGRES_DB: mydatabase
      POSTGRES_HOST: db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

 # For the API service
  web:
    build:
      context: .
      dockerfile: api_service/Dockerfile
    image: api_service:latest
    container_name: api_service
    depends_on:
      db:
        condition: service_healthy
    restart: always

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
    networks:
      -  default
    depends_on:
      - postgres

  prestart:
    image: backend
    build:
      context: ./backend
    container_name: prestart
    networks:
      - default
    depends_on:
      postgres:
        condition: service_healthy
        restart: true
    command: bash scripts/prestart.sh
    env_file:
      - .env

  backend:
    image: backend
    build:
      context: ./backend
    container_name: backend
    env_file:
      - .env
    ports:
      - "8000:8000"
    restart: always
    depends_on:
      postgres:
        condition: service_healthy
        restart: true
      prestart:
        condition: service_completed_successfully
    networks:
      - default


  # frontend:
  #   build: ./frontend
  #   container_name: frontend_container
  #   depends_on:
  #     - fastapi
  #   ports:
  #     - "3000:3000"
  #   restart: unless-stopped