services:
  db:
    image: postgres:15
    container_name: postgres_db
    restart: always
    env_file:
      - .env   # Load Postgres env vars from .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  web:
    build: .
    container_name: fastapi_app
    restart: always
    depends_on:
      - db
    env_file:
      - .env   # App also loads from same .env
    ports:
      - "8000:8000"
    command: python3 run.py

volumes:
  postgres_data:
